/*css
	Tim Berners-Lee
		> father of world wide web

	cascading style sheets
		>use to design the web page make 
		 the presentation better
*/

	/*class selector*/
		.heading {
			color: violet;
			
		}
	/*Tag Selector*/
		h1 {
			color: green;
		}
	/* ID selector */
		#heading {
			color: salmon;
		}

*{
	font-family: sans-serif;
}
#heading {
	text-align: center;
}

/*descendant selector*/
ul li{
	color: blueviolet;
	font-size: 40px;
}

/* child selector */
body > main > section > form > label{
	color: blue;
}

input[required] {
	border-color: blue;
	width: 90%;
}


/** {
	color: violet;
}*/

/*#heading{
	color: rgb(255,192,203);
}*/

/*Class Selector*/
/*
 Denoted by '.' and selects the class of the element 
*/
.heading{
	color: blue;
}

/*Tag Selector*/
/*
 Denoted by the tag itself and selects the tag of the element 
*/
h1{
	color: red;
}

/*ID Selector*/
/*
 Denoted by '#' and selects the ID of the element 
*/
#heading{
	color: pink;
}

/*Descendant Selector*/
/*
 Denoted by a spacing and selects all the descendants of the element 
*/
ul li {
	color: violet;
}

/*Child Selector*/
/*
 Denoted by '>' and selects the speciific child of the element 
*/
body > section > form > label{
	color: blue;
}

/*Attribute Selector*/
/*
 Denoted by a '[]' and selects all the elements with that specific attribute
*/
input[required] {
	border-color: blue;
	width: 90%;
}