*{
	font-family: sans-serif;
	font-size: 15px;
}

#external {
	color: #6fe310;
	font-size: 25px;
	font-family: cursive;
}

h1{
	font-size: 40px;
}

#caps{
	font-family: fantasy;
}

.slang{
	background-color: #3ba6d4;
}

ol[activity] li{
	border-style: double;
}

body section ul li{
	list-style-type: none;
	color: blue;
	font-style: italic;
}

body img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

body > section > ul > li{
	letter-spacing: 4px;
}